/* CSS for phone screens */
@media (max-width: 768px) {
  .container {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-bottom: 90px;
  }

  .text-2xl {
    font-size: 1.8rem;
    text-align: center;
  }

  .text-3xl {
    font-size: 1.9rem;
    font-weight: 700;
  }

  .md\:w-96 {
    width: calc(100% - 16px);
  }

  .p-3 {
    padding: 6px;
  }

  .px-4 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .px-6 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .shadow-md {
    border-radius: 10px;
  }
}
